{% extends "@bulma/block/block--system-branding-block.html.twig" %}
{% block content %}
  {% block logo %}
  {% if site_logo %}
    <figure class="is-pulled-left">
      <a href="{{ path('<front>') }}" title="{{ 'Home'|t }}" rel="home">
        <img src="{{ base_path ~ directory }}/skins/vulk/vulklogosvg.svg" alt="{{ 'Vulk Coop'|t }}"/>
      </a>
    </figure>
  {% endif %}
  {% endblock logo %}
  {% block site_name %}
  {% if site_name %}
    <a class="title is-size-3-desktop is-size-4-touch" href="{{ path('<front>') }}" title="{{ 'Home'|t }}" rel="home">{{ site_name }}</a>
  {% endif %}
  {% endblock site_name %}
{% endblock content %}
