<h2 class="title weight-normal is-hidden-mobile"><strong>Get</strong><br class="is-hidden-mobile" />
In Touch</h2>
<div id="{{ id }}" class="vcard is-light has-background-white">
    {% if type == 'personal' %}
        <div class="fn n">
            {% if given_name|length %}
                <span class="given-name"> {{ given_name }} </span>
            {% endif %}
            {% if family_name|length %}
                <span class="family-name"> {{ family_name }}</span>
            {% endif %}

            {% if org|length  %}
                <div class="org">{{ org }}</div>
            {% endif %}
        </div>
    {% else %}
        {% if org|length %}
            <div class="fn org hidden">{{ org }}</div>
        {% endif %}
    {% endif %}

    {%  if tagline|length %}
        <div class="tagline">{{ tagline }} </div>
    {% endif %}

    {% if (street_address|length > 0 ) or (locality|length > 0 ) or (region|length > 0 ) or (postal_code|length > 0 ) or (country|length > 0 ) %}
        <p class="adr"><a
            href="https://duckduckgo.com/?q=+1700+South+Lamar+Blvd+Suite+338%2C+Austin%2C+TX+78704&atb=v274-1&ia=web&iaxm=directions&end=what%3A1700%2520S%2520Lamar%2520Blvd%252C%2520Unit%2520338%252C%2520Austin%252C%2520TX%2520%252078704%252C%2520United%2520States&transport=drive"
            ><span class="fa fa-map fa-fw"></span>
            {% if street_address|length %}
                <span class="street-address">{{ street_address }}</span>{% if not extended_address|length %},{% endif %}
            {% endif %}
            {% if extended_address|length %}
                <span class="extended-address">{{ extended_address }}</span>,
            {% endif %}
            {% if locality|length %}
                <span class="locality">{{ locality }}</span>{% if region|length %},{% endif %}
            {% endif %}
            {% if region|length %}<span class="region">{{ region }}</span>{% endif %}
            {% if postal_code|length %}
                <span class="postal-code">{{ postal_code }}</span>
            {% endif %}
            {% if country|length %}
                <span class="country-name hidden">{{ country }}</span>
            {% endif %}
        </a></p>
    {% endif %}

    {%  if (longitude|length > 0) or (latitude|length > 0)%}
        <div class="geo">
            <abbr class="longitude" title="{{ longitude }}">{{ longitude_formatted }}</abbr>
            <abbr class="latitude" title="{{ latitude }}">{{ latitude_formatted }}</abbr>
        </div>

        <div class="vulk-map">
          <!-- TODO link this to an online navigation service map -->
        </div>
    {% endif %}

    {% if (phones) or (faxes) %}
        <div class="phone">
            {% for phone in phones %}
                {%  if phone|length %}
                    {# TODO remove hard-coded telephone number! #}
                    <p class="tel u-tel"><a href="tel:15127108855"><abbr class="type fa fa-mobile fa-fw" title="voice"></abbr> {{ phone }}</a></p>
                {% endif %}
            {% endfor %}
            {% for fax in faxes %}
                {%  if fax|length %}
                    <div class="tel"><abbr class="type" title="fax"> Fax :</abbr> {{ fax }} </div>
                {% endif %}
            {% endfor %}
        </div>
    {% endif %}

    {% if email|length %}
        <p><a href="{{ email_url }}" class="email u-email"><span class="fa fa-envelope fa-fw"></span> {{ email }}</a></p>
    {% endif %}

</div>
