{% extends "page--octavia-camouflage-vulk.html.twig" %}

{# Set to false to let the defaults win #}
{% set page = page|merge({'content_attributes': false }) %}

{# Empty column to simulate a right offset of one-third.. any HTML here renders escaped but an empty space evaluates to true. #}
{% if not page.sidebar_second %}
  {% set page = page|merge({'sidebar_second': ' '}) %}
{% endif %}

{# Drop the default 'is-2' from both our sidebars. #}
{% set page = page|merge({'sidebar_first_attributes': create_attribute().addClass(['sidebar-first', 'column',])}) %}
{% set page = page|merge({'sidebar_second_attributes': create_attribute().addClass(['sidebar-second', 'column',])}) %}

{% if not page.content_attributes %}
  {%
    set page = page|merge({
      'content_attributes': create_attribute().addClass([
        'main-content',
        'column',
      ]),
    })
  %}
{% endif %}

{# Set default classes for header section but allow to be overridden. #}
{% if not header_section_attributes %}
  {%
    set header_section_attributes = create_attribute().addClass([
      'container',
    ])
  %}
{% endif %}

{# Set default classes for main section but allow to be overridden. #}
{% if not main_section_attributes %}
  {%
    set main_section_attributes = create_attribute().addClass([
      'section',
      'contact-wolves',
      'is-dark',
    ])
  %}
{% endif %}
