{% extends "page--octavia-camouflage-vulk.html.twig" %}

{# Set default classes for header section but allow to be overridden. #}
{% if not header_section_attributes %}
  {%
    set header_section_attributes = create_attribute().addClass([
      'white-bar',
      'section--header',
    ])
  %}
{% endif %}
