{% extends "@octavia/layout/page.html.twig" %}

{#
  Limit the main content column to a max of 10 units at widescreen and above.
  @see system/page.html.twig in the Bulma theme.
#}
{% if not page.content_attributes %}
  {%
    set page = page|merge({
      'content_attributes': create_attribute().addClass([
        'main-content',
        'column',
        'is-10-widescreen',
      ]),
    })
  %}
{% endif %}

{# Allow child templates to pass in site slogan attributes. #}
{% if not site_slogan_attributes %}
  {%
    set site_slogan_attributes = create_attribute().addClass([
      'subtitle',
      'is-2',
      'is-size-3-tablet-only',
      'is-size-4-mobile',
      'has-padding-left-10-touch',
      'has-padding-right-10-touch',
    ])
  %}
{% endif %}

{# Set default classes top navbar but allow to be overridden. #}
{% if not nav_attributes %}
  {%
    set nav_attributes = create_attribute().addClass([
      'navbar',
    ])
  %}
{% endif %}

{# Set default classes for header section but allow to be overridden. #}
{% if not header_section_attributes %}
  {%
    set header_section_attributes = create_attribute().addClass([
      'container',
      'section--header',
    ])
  %}
{% endif %}

{# Set default classes for main section but allow to be overridden. #}
{% if not main_section_attributes %}
  {%
    set main_section_attributes = create_attribute().addClass([
      'section',
      'section--main',
      'has-background-white',
    ])
  %}
{% endif %}

{% block footer %}
{% if page.footer or page.footer_menus or page.footer_info or page.footer_notice%}
  <footer role="contentinfo" class="footer">
    <div class="container">
      {{ page.footer }}
      <div class="columns">
        {% if page.footer_menus %}
          {{ page.footer_menus }}
        {% endif %}
        {% if page.footer_info %}
          {{ page.footer_info }}
        {% endif %}
      </div>
    </div>
    {% if page.footer_notice %}
      {{ page.footer_notice }}
    {% endif %}
  </footer>
{% endif %}
{% endblock footer %}
