/* Regular */
@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

/* Italic */
@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Italic.ttf');
    font-weight: normal;
    font-style: italic;
}

/* Bold */
@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Bold.ttf');
    font-weight: bold;
    font-style: normal;
}

/* Bold Italic */
@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-BoldItalic.ttf');
    font-weight: bold;
    font-style: italic;
}

/* Bolder */
@font-face {
    font-family: 'Montserrat Black';
    src: url('../fonts/Montserrat-Black.ttf');
    font-weight: normal;
    font-style: normal;
}

/* Thin */
@font-face {
    font-family: 'Montserrat Thin';
    src: url('../fonts/Montserrat-Light.ttf');
    font-weight: normal;
    font-style: normal;
}

