// Set variables.
$container-max-width: 960px;
$body-line-height: 1.6;
$body-font-size: 1.05em;
$card-background-color: hsl(0, 0%, 98%);
$card-content-padding: 1rem;
$footer-background-color: hsl(0, 0%, 95%);

$grey-darkest: #171717;
$grey-darker:  #222;
$grey-dark:    #333;
$grey:         #777;
$grey-light:   #AEA79F;
$grey-lighter: #ddd;

$orange:       #800000;
$yellow:       #EFB73E;
$green:        #008000;
$purple:       #600080;
$red:          #ff4d4d;
$blue:         #124d87;
$tag-radius: 0;

$screaming-green : #64ff65;   // links - mobile footer menu
$dark-fern:        #014c01;   // button color
$pastel-green:     #58e059;   // logo color?
$alto:             #dedede;   // Regular text
$bright-green:     #77f63a;   // logo highlight color


@import 'roboto.scss';
$family-sans-serif: "Roboto", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;

$family-secondary: $family-sans-serif;
$title-strong-weight: 800;

$primary: $green;
$info: $orange;

$title-color: $orange;
$subtitle-color: $grey-darker;
$title-family: $family-secondary;
$title-size: 2.5rem;

@import 'bulma';

// utilities : move to octavia?

.full-width {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw !important;
  margin-right: -50vw !important;
  max-height: inherit;
  overflow: hidden;
}


// Dark Mode

$dark : black;
$light : $grey-lighter;


.darkmode-toggle {
  cursor: pointer;
  // override existing menu style
  .menubar li + &::before {
    content: "";
    color: unset;
  }
  .toolbar-horizontal & {
    margin-right: 3rem; // escape the contextual links
  }
  margin-left: 1rem;
  box-sizing: border-box;
  position: relative;
  display: block;
  border: 2px solid;
  border-radius: 100px;
  width: 20px;
  aspect-ratio: 1;

  &::after,
  &::before {
    content: "";
    box-sizing: border-box;
    position: absolute;
    display: block
  }

  &::before {
    border:5px solid;
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
    border-right: 0;
    width: 9px;
    height: 18px;
    top: -1px;
    left: -1px
  }

  &::after {
    border: 4px solid;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    border-left: 0;
    width: 4px;
    height: 8px;
    right: 4px;
    top: 4px
  }
}

body {
  .navbar {
    background-color: transparent;
  }

  .subtitle,
  .title {
    color: $dark;
  }

  &.dark {
    background-color: $dark;
    color: $light;

    .ui-widget-overlay {
      background-color: $dark;
    }

    .subtitle,
    .title,
    .label,
    strong {
      color: $light;
    }

    table {
      background: $grey-darker; 
      color: $grey-lighter;
      thead td, 
      thead th {
        color: $grey-lighter;
      }
      td,
      th {
        border-color: $grey;
      }
      .dropbutton-toggle {
        button {
          background: none;
        }
      }
    }

    .message {
      &-body {
        color: $grey-lighter;
      }
      &.is-danger .message-body{
        color: $red;
      }
      background: $grey-dark;
    }

    .pagination-previous, 
    .pagination-next, 
    .pagination-link {
      border: 0;
    }

    a {
      color: $grey-light;
    }

    .navbar {
      box-shadow: 2px 0 0 #bbbbbb3d;
    }

    .navbar-brand img {
      filter: invert(100%);
    }

    button,
    .button {
      background: $blue;
      color: $grey-light;
      border: none;
    }

    // Dark mode Forms

    form.node-form {
      .label {
        font-weight: normal;
      }
      
      .time-start,
      .time-end {
        margin-right: auto;
      }
      .panel {
        box-shadow: none;
        border: $grey-dark 1px solid;
        color: $grey-lighter;
        &-heading {
          background-color: $grey-darker;
          color: $grey-light;
          font-weight: normal;
        }
        &-block {
          h4 {
            color: $grey-light;
          }
        }
        .panel {
          border-color: transparent;
          .panel-heading {
            background-color: #3333332f;
            font-weight: normal;
          }
        }
      }

      .help {
        color: $grey-light;
      }
      
      //ckeditor
      .cke {
        &_chrome {
          border-color: $grey-dark !important;
        }
        &_combo_text,
        &_button_label {
          color: $grey-lighter;
          &:hover {
            color: black;
          }
        }
        &_button_on,
        &_combo_on,
        [aria-expanded="true"] {
          .cke_combo_text,
          .cke_button_label {
            color: black;
          }
        }
        &_button_on {
          color: red;
        }
        &_top,
        &_bottom {
          background-color: black;
          // color: #000;
          .cke_button_icon,
          .cke_button__bold_icon {
            filter: invert(100%);
            &:hover {
              filter:invert(0);
            }
          }
        }
      }
      
      .vertical-tabs {
        border-color : $grey-dark;
        li {
          background-color: $grey-dark;
          color: $grey-light;
        }
        &__menu-item, 
        &__menu  {
          border-color: $grey-dark;
        }
        &__menu-item.is-selected {
          background-color: transparent;
          color: white;
          .vertical-tabs__menu-item-title {
            color: $grey-lighter;
          } 
        }
      }
    }
    #inline-entity-form-field_organization-form {
      th {
        color: $grey;
        border-color: $grey;
      }
      .ief-row-entity {
        background-color: $grey-darker;
      }
      .ief-entity-operations {
        display: flex;
        gap: 1rem;
      }
    }

    .select select, 
    .textarea, 
    .input,
    .ts-control {
      background-color: $grey-darkest;
      border-color: $grey-darkest;
      color: $alto;
    }

    .ts-dropdown {
      background-color: $grey-darker;
      color: $grey;
    }

    .chevron path {
      fill: $grey-light;
    }
  } //end .dark

} //end body

// Style tom-select components
// @TODO probably move to tomselect module.

.ts-control {
  width: 32rem;
}

ul {
  list-style: inherit;
  &[class^="facet"] {
    list-style: none;;
  }
}

.section--main {
  padding-top: 0;
  padding-bottom: 6rem;
  min-height: 95vh;
  [class^="column"] {
    > div {
      margin-bottom: 1em;
    }
  }
}
.section.headertabs {
  padding-top: 0;
  padding-bottom: 0;
}


/*
source: https://iamkate.com/code/tree-views/
*/

.category-list{
  --spacing : 1.5rem;
  --radius  : 10px;
  > li {
    padding-bottom: 12px;
  }
}

.category-list li{
  display      : block;
  position     : relative;
  padding-left : calc(2 * var(--spacing) - var(--radius) - 2px);
}

.category-list ul{
  margin-left  : calc(var(--radius) - var(--spacing));
  padding-left : 0;
}

.category-list ul li{
  border-left : 2px solid #ddd;
}

.category-list ul li:last-child{
  border-color : transparent;
}

.category-list ul li::before{
  content      : '';
  display      : block;
  position     : absolute;
  top          : calc(var(--spacing) / -2);
  left         : -2px;
  width        : calc(var(--spacing) + 2px);
  height       : calc(var(--spacing) + 1px);
  border       : solid #ddd;
  border-width : 0 0 2px 2px;
}

.category-list summary{
  display : block;
  cursor  : pointer;
}

.category-list summary::marker,
.category-list summary::-webkit-details-marker{
  display : none;
}

.category-list summary:focus{
  outline : none;
}

.category-list summary:focus-visible{
  outline : 1px dotted #000;
}

.category-list li::after,
.category-list summary::before{
  content       : '';
  display       : block;
  position      : absolute;
  top           : calc(var(--spacing) / 2 - var(--radius));
  left          : calc(var(--spacing) - var(--radius) - 1px);
  width         : calc(2 * var(--radius));
  height        : calc(2 * var(--radius));
  border-radius : 50%;
  background    : #ddd;
}

.category-list summary::before{
  content     : '+';
  z-index     : 1;
  background  : #696;
  color       : #fff;
  line-height : calc(2 * var(--radius) - 2px);
  text-align  : center;
}

.category-list details[open] > summary::before{
  content : '−';
}

.category-with-children-list {
  list-style: none;
}

.category-with-children-list * {
  margin: revert;
  padding: revert;
}

.category-with-children-list * {
  margin: revert;
  padding: revert;
}

.category-with-children-list .form-checkboxes {
  display: inline-block;
}

.app-menu {
  display: flex;
  justify-content: space-around;
  list-style: none;
  
  &__region {
    @extend .full-width;
    overflow: initial;
    position: fixed;
    bottom: 0;
    z-index: 99;
    background: linear-gradient(to bottom, black 70%, #363636 );
  }

  &__item {
    cursor: pointer;
    display: block;
    padding: 0 5vw;
    svg {
      max-width: 10vw;
    }
    path {
      fill: $screaming-green;
    }
    &:hover {
      position: relative;
      &::before {
        position: absolute;
        content: '';
        //glow effect
        opacity: .3;
        box-shadow: 1.7rem 2rem 5vw 3vw $screaming-green;
        /* in order: x offset, y offset, blur size, spread size, color */
      }
    }
  }
  .menu-level-1 a:hover {
    text-decoration: underline;
  }
}

footer {
  &.footer {
    padding: 0;
  }
  .menu-item--expanded {
   position: relative;

   ul {
     display: none;
     position: absolute;
     bottom: 65px;
     padding: 6px 6px 6px 6px;
   }

   ul.active {
     display: initial;
     min-width: max-content;
     right: 0;
   }

   a {
     color: $screaming-green;
   }
 }
}

// hide the hamburger when bottom menu is present
.navbar-burger, 
#block-octavia-camouflage-account-menu {
  @include mobile {
    display: none;
  }
}

.navbar-brand {
  @include mobile {
    justify-content: center;
  }
}

.search-list,
.views-element-container .event.teaser {
  figure {
    margin: 0 1rem 0 0;
    img, 
    svg {
      max-width: 50px;
      width: 50px;
      height: 50px;
      border-radius: 50%;
    }
  }
  @include tablet {
    .chevron {
      display: none;
    }
  }
}

.title_image {
  &__wrapper {
    position: relative;;
    .title {
      position: absolute;
      bottom: 0;
      width: 100%;
      text-align: center;
      background: linear-gradient(to bottom, transparent, black);
      height: 30%;
      @include mobile {
        height: 50%;
      }
    }
  }
}

.flag-event-bookmarks, 
.flag-organization-bookmark {
  .bookmark-title {
    position: absolute;
    right: 2.5rem;
    width: max-content;
    border-radius: 1rem;
    padding: .2rem 1rem;
    font-size: .7rem;
    text-align: center;
    background-color: $grey-lighter;
    display: none;
    .dark & {
      color: $grey-light;
      background: rgba($grey-darkest, 0.6);
    }
  }
  &:hover {
    .bookmark-title {
      display: block;
    }
  }
  svg {
    float: right;
    path.outline {
      fill: white;
      table & {
        fill: $grey-light;
        stroke: #000;
      }
    }
  }
  .card &,
  .group-right & 
  {
    position: absolute;
    top: 1rem;
    right: 1rem;
    z-index: 99;
  }
  .teaser & a {
    @include mobile {
      max-width: 5rem;
      display: flex;
      flex-direction: column;
      align-items: center ;
      svg {
        float: none;
      }
    }
  }
  &.action-unflag svg path.outline {
    fill: red;
    stroke: black;
  }
}

.teaser {
  position: relative;
  svg {
    path {
      fill: #63FF65;
    }
  }
}

//event node 

.node--type-event {
  &.node--view-mode-full {
    img {
      padding: 2rem;
      margin: auto;
    }
  }
}

.group-header,
.group-left,
.group-middle,
.group-right {
  padding-inline: .5rem;
  > div {
    margin-bottom: 1rem;
  }
  @include mobile {
    width: 100% !important;
    &:not(.group-header) > div {
      border-bottom: 1px solid $grey-lighter;
      padding-bottom: 1rem;
    }
  }
  .label {
    color: $grey;
    font-size: .8rem;
    font-weight: 100;
  }
}

// thanks https://getcssscan.com/css-checkboxes-examples
#views-exposed-form-event-events-listing-list,
#views-exposed-form-event-events-listing-card {
  margin-bottom: 1rem;
  .form-item {
    margin-bottom: 1rem;
  }
  .category-with-children-list {
    @include tablet {
      display: grid;
      grid-template-columns: 50% 50%;
      > :nth-child(even) {
        .category-dropdown {
          // border-left: 1px solid #333;
          padding-left: 10px;
          margin-bottom: 5px;
        }
      }
    }
    @include tablet {
      .category-dropdown,
      .checkbox-dropdown {
        width: 70%;
        cursor: pointer;
      }
    }
    margin-top: 1rem;
    .control-label {
      font-weight: 200;
    }
    > li  > details:first-child > summary:first-child {
      .label{
        font-size: 1.5rem;
      }
    }
    
    ul {
      padding-left: 1rem;
      ul {
        padding-left: 2rem;
      }
    }
    :checked + label {
      text-decoration: underline;
    }
  }
}

.checkbox-wrapper {
  label {
    span {
      display: inline-block;
      position: relative;
      background-color: transparent;
      width: 15px;
      height: 15px;
      transform-origin: center;
      border: 2px solid $grey;
      border-radius: 50%;
      vertical-align: middle;
      margin-right: 10px;
      transition: background-color 150ms 200ms, transform 350ms cubic-bezier(0.78, -1.22, 0.17, 1.89);
      &:before {
        content: "";
        width: 0px;
        height: 2px;
        border-radius: 2px;
        background: #333;
        background: $grey-light;
        position: absolute;
        transform: rotate(45deg);
        transition: width 50ms ease 50ms;
        transform-origin: 0% 0%;
        top: 6px;
        left: 2px;
        .category-with-children-list & {
          top: 8px;
          left: 4px;
        }
      }
      &:after {
        content: "";
        width: 0;
        height: 2px;
        border-radius: 2px;
        background: $grey-light;
        position: absolute;
        transform: rotate(305deg);
        transition: width 50ms ease;
        transform-origin: 0% 0%;
        top: 10px;
        left: 3px;
        .category-with-children-list & {
          top: 12px;
          left: 5px;
        }
      }
    }
    &:hover {
      span {
        border: 2px solid $screaming-green;
        box-shadow: 0 0 10px #64ff65;
      }
    } 
  }
  input[type=checkbox] {
    display: none;

    &:checked {
      & + label {
        span {
          background-color: $grey-darkest;
          transform: scale(1.25);
          &:after {
            width: 10px;
            background: #fff;
            transition: width 150ms ease 100ms;
          }
          &:before {
            width: 5px;
            background: #fff;
            transition: width 150ms ease 100ms;
          }
        }
        &:hover span {
          background-color: #333;
          transform: scale(1.25);
        }
        &:hover span:after {
          width: 10px;
          background: $screaming-green;
          transition: width 150ms ease 100ms;
        }
      }
      &:hover span:before {
        width: 5px;
        background: $screaming-green;
        transition: width 150ms ease 100ms;
      }
    }
  }
}

// Forms

// wrap buttons at top
.field.is-grouped {
  row-gap: 1rem;
  flex-wrap: wrap;
  .button{
    margin-right: .75rem;
  }
}

// regular image width in forms
.form-item {
  .image img {
    width: auto;
  }
}

form.node-form {
  :not(#inline-entity-form-field_organization-form) .panel {
    width: 100%;
  }
  .panel {
    &-block {
      gap: 1rem;
      align-items: flex-start;
      flex-flow: row wrap;
    }
    .panel {
      .panel-heading {
        font-size: .8rem;
        font-weight: 200;
      }

    }
  }
  .smartdate--widget .allday {
    margin: 5px;
  }

  .field {
    margin-bottom: 1rem;
    .form-item {
      margin-bottom: .5rem;
    }
  }

  .form-wrapper:focus-within {
    background-color: $grey-darker;
    border-radius: 5px;
  }
}

// Organization fieldset

.organization-tabs {
  flex: 0 0 100%;
  margin: 1rem 0;
  &_tab {
    border-bottom: 1px $grey-darker solid;
    padding-inline: 2rem;
    &:hover {
      border-bottom-color: $dark-fern;
    }
  }
}
.organization-panel {
  display: none;
  &.is-active {
    display: block;
  }
}

#edit-field-organization-wrapper {
  fieldset fieldset .panel-heading {
    display: none;
  }
  .draggable a.tabledrag-handle {
    height: 22px;
    width: 30px;
    .handle {
      width: 100%;
      height: 100%;
    }
  }
  .tabledrag-toggle-weight-wrapper,
  .tableresponsive-toggle-columns {
    .tabledrag-toggle-weight {
      background-color: transparent;
      cursor: pointer;
    }
  }
  table.ief-entity-table {
    width: 100%;
    margin-bottom: 0;
    background-color: transparent;
    color: $grey-lighter;
    flex-grow: 5;
  }
}
// bottom buttons when new organization form is conjured
[id^="edit-field-organization-form-"] + [id^="edit-field-organization-form-"]  {
  display: flex;
  gap: 1rem;
}

// Organization view
.node--type-organization.node--view-mode-teaser {
  display: flex;
  border-bottom: $grey-dark 1px dashed;
  margin-bottom: 0 !important;
  padding-top: 0;
  position: relative;

  .content {
    margin-bottom: 0;
  }

  // no collision with bookmark
  .title.is-3 {
    width: calc(100% - 46px);
  }

  .organization__image {
    @include tablet {
      aspect-ratio: 2/1;
    }
  }
  @include mobile {
    flex-direction: column;
    .column > div {
      border-bottom: 0;
    }
  }   
  .flag-organization-bookmark {
    display: flex;
    justify-content: end;
  }
}

.organization {
  &-search-title {
    @include touch {
      flex-direction: column;
      align-items: start;
      row-gap: 1rem;
    }
    .form-item {
      height: fit-content;
      margin-top: auto;
    }
    input::placeholder {
      color: $grey-light;
    }
  }
  &-image {
    padding: 2rem;
    @include desktop {
      aspect-ratio: 2/1;
      float: left;
      width: 50%;
    }
  }
}

// Address
#edit-field-address-wrapper {
  border-radius: 6px;
  border: #333 1px solid;
  summary {
    background-color: $grey-darker;
    font-weight: normal;
    border-radius: 6px 6px 0 0;
    font-size: 1.25em;
    line-height: 1.25;
    padding: 0.75em 1em;
    & + div {
      padding: 8px 12px;
    }
  }
}

.field--name-field-body-paragraph {
  table {
    width: 100%;
    background-color: transparent;
    tr.draggable {
      border-top: 5px solid black;
    }
    .form-wrapper {
      padding-right: 10px;
    }
    .tabledrag-handle .handle {
      width: 30px;
      height: 30px;
    }
  }
  .paragraphs-dropbutton-wrapper {
    display: flex;
    flex-flow: row wrap;
    gap: 1rem;
  }
}

//Search form accordion
.form-accordion-toggle {
  &_hide-link,
  &_show-link {
    display: none;
    cursor: pointer;
  }
  &.closed {
    .form-accordion-toggle_show-link {
      display: block;
    }
  }
  &:not(.closed){
    .form-accordion-toggle_hide-link {
      display: block;
    }
  }
}

[id^=views-exposed-form-event-].collapsed {
  max-height: 0;
  overflow: hidden
}

//Category accordion
.category-toggle {
  width: 100%;
  cursor: pointer;
  &::before {
    @extend .button;
  }
  &.closed::before {
    content: 'SHOW CATEGORIES +';
  }
  &:not(.closed)::before{
    content: "HIDE CATEGORIES -";
  }
  + ul {
    transition: all .6s linear;
    &.collapsed {
      max-height: 0;
      overflow: hidden;
    }
  }
}

// Calendar page 
.fc {
  margin-top: 1rem;
  .dark &-content {
    color: black;
  }
  &-day-header {
    span {
      padding: 2px 4px;
    }
  }
  &-day-header,
  &-axis {
    @include mobile {
      font-size: .8rem;
    }
  }
  &-day-number {
    padding: 5px;
  }
  &-toolbar {
    @include mobile {
      flex-direction: column;
    }
  }
  .fc-unthemed &-divider {
    background: $grey-dark;
    border-color: $grey-dark;
  }
  table {
    th,
    td {
      border-color: $grey-dark;
      text-align: center;
      font-weight: normal;
    }
    td,
    th a {
      color: $grey;
    }
  }
}

#block-views-block-calendar-block-1 {
  margin-bottom: 0;
}

.navbar-burger {
  display: none;
}

#views-exposed-form-event-events-listing-card {
  display: flex;
  flex-flow: row wrap;
  gap: 2rem;
  .form-item-field-date-end-value,
  .js-form-item-field-date,
  .form-item-organization-name,
  .form-item-search  {
    width: 47%;
  }
  .form-item-field-virtual-or-inperson,
  .js-form-type-select {
    width: 30%;
    input {
      max-width: 100%;
    }
  }
  .ts-control,
  .category-with-children-list {
    width: 100%;
  }
}


#user-form {
    .form-item-user-picture-0 img {
        max-width: 200px;
        border-radius: 50%;
    }
    .user-name-and-picture {
        display: flex;
        column-gap: 2em;
    }
    #edit-field-full-name-wrapper {
        align-self: center;
    }
    #edit-actions {
        padding-top: 8px;
    }
    #edit-cancel {
        display: none;
    }
}

.user-image img {
    max-width: 200px;
    border-radius: 50%;
}

#edit-account {
    summary::marker {
        content: "";
    }

    summary::before {
      background-image: url("/themes/contrib/octavia_camouflage/skins/actioninfo/arrow.svg");
      filter: invert(15%) sepia(22%) saturate(0%) hue-rotate(138deg) brightness(100%) contrast(88%);
      display: inline-block;
      width: 16px;
      height: 14px;
      background-size: 15px 15px;
      content: "";
      background-repeat: no-repeat;
      transform: rotate(-90deg);
      position: relative;
      right: 5px;
    }

    &[open=""] summary::before {
      transform: rotate(0deg);
    }
}

body.dark #edit-account summary::before {
  filter: invert(96%) sepia(17%) saturate(1994%) hue-rotate(50deg) brightness(101%) contrast(100%);
}

// Add/Update Event category list form

.node-event-form, 
.node-event-edit-form {
    .issue-name {
      cursor: pointer;
    }

    .issue-name:hover {
        color: #FF4040;
    }

    .issue-name.selected {
        color: $dark-fern;
        font-weight: bold;
    }
}
.modal-content {
  max-height: calc(80vh - 40px);
  @include mobile {
    max-height: calc(80vh - 80px);
  }
}
.modal .delete {
  background: gray;
  margin-left: 98%;
}


.simple-card {
  .imagespacer {
    background: transparent;
    width: 100%;
  }
  .field_image,
  .imagespacer {
    aspect-ratio: 48/33;
    figure {
      margin-inline: 0;
      margin-top: 0;
    }
  }
}

label.parent-selected span {
  background-color: #777;
}

label.parent-selected:hover span {
  border: 2px solid #777;
  box-shadow: none;
}

#views-exposed-form-organization-page-listing, #views-exposed-form-organization-page-1 {
  display: flex;
  gap: 12px;
  justify-content: end;

  #edit-actions {
    align-self: end;
  }
}

.js-modal-trigger {
  cursor: pointer;
}

.ief-edit {
  display: none;
}

.views-display-link {
  @extend .button;
  &.is-active {
    background: #1a252f !important;
  }
  &:hover{
    background:#1a252f !important;
  }
  &-events_listing_list {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  &:last-child,
  &-events_listing_card {
    margin-left: 0 !important;
    margin-right: auto;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}

.event-search {
  header {
    display: flex;
    margin-bottom: 1rem;
    flex-flow: row wrap;
    row-gap: 1rem;
  }
}

// override of width: 100% set in octavia or bulma
.image img {
  width: auto;
}

.calendar-view-header-block {
  .block-local-tasks-block {
    margin-bottom: 16px;
  }
  margin-bottom: 1.5rem;
  display: flex;
  flex-wrap: wrap;
  > div:first-child {
    flex: 1 1 auto;
  }
}

.calendar-view-modes {
  a {
    &.views-display-link + .views-display-link {
      margin-left: 0;
    }
    &:not(:last-child) {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
    &:not(:first-child) {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }
}

.calendar-view-header-block .tabs {
  ul { flex: 1 1 auto; }
  li {
    @extend .button;
    white-space: normal;
    &.is-active {
      background: #1a252f !important;
    }
    &:hover{
      background:#1a252f !important;
    }
    &:not(:last-child) {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
    &:not(:first-child) {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }
}

.tabs.is-toggle {
  // li:has(a.is-active) {
  //   background: #1a252f !important;
  // }
  a {
    border-style: none;
    &.is-active {
      background: #1a252f !important;
    }
    &:hover{
      background:#1a252f !important;
      color: #AEA79F;
    }
  }
}

.no-bullets {
  list-style: none;
}