@import 'bulma';

summary {
  list-style-type: none;
}

details summary .dropdown-icon {
  background-image: url('../../skins/lwcjustice/caret-forward-outline.svg');
  background-repeat: no-repeat;
  background-size: contain;
  height: 1em;
  width: 1em;
  position: relative;
  top: 2px;
}

details[open] summary .dropdown-icon {
  background-image: url('../../skins/lwcjustice/caret-down-outline.svg');
}

nav .book-menu ul {
  list-style-type: disc;
  list-style-position: inside;
  li {
    margin-bottom: 1em;
  }
}
