// Set variables.
$body-line-height: 1.6;
$body-font-size: 1.08em;
$card-content-padding: 1rem;

$black: #000;
$grey-darker:  #222;
$grey-dark:    #333;
$grey:         #777;
$grey-light:   #AEA79F;
$grey-lighter: #ddd;

$orange:       #fe840e;
$yellow:       #ffd662;
$green:        #92b558;
$purple:       #e8b5ce;
$red:          #9e1030;
$blue:         #003666;
$white: hsl(0, 0%, 100%);

$family-secondary: "KhwanSans Thin", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;

$primary: $red;
$info: $blue;

$title-color: $black;
$subtitle-color: $grey-darker;
$title-family: $family-secondary;
$title-size: 2.5rem;
$title-strong-weight: 800;

$footer-background-color: #a21032;
$menu-label-color: $grey-lighter;
$menu-label-font-size: 0.8em;

$navbar-height: 4rem;
$navbar-background-color: $primary;
$navbar-item-color: $white;
$navbar-item-hover-color: $white;
$navbar-item-hover-background-color: transparent;
$navbar-item-active-color: $white;
$navbar-dropdown-arrow: $white;
$navbar-dropdown-background-color: $primary;
$navbar-divider-background-color: $grey-lighter;
$navbar-dropdown-border-top: inherit;
$navbar-dropdown-item-hover-color: white;
$navbar-dropdown-item-hover-background-color: $blue;
$navbar-dropdown-item-active-background-color: $blue;
$navbar-dropdown-item-active-color: white;

@import 'bulma';
@import 'khwan_sans_font';

// Shared overrides.
@import 'overrides';


// Final overrides custom to this theme.

.navbar-dropdown {
  top: 90% !important;
}

// Possibly Octavia itself needs this?
// Ensure room for the hamburger menu even with long site names on mobile.
.block-system-branding-block {
  max-width: 90%;
}
