{% extends "page.html.twig" %}


{%
  set main_section_attributes = create_attribute().addClass([
    'section',
    'section--main',
    'page-front',
  ])
%}

{% block header_and_search %}
{% endblock header_and_search %}
