{% extends "page--octavia-camouflage-cockrill.html.twig" %}


{%
  set main_section_attributes = create_attribute().addClass([
    'section',
    'section--main',
    'page-front',
    'container',
  ])
%}

{% block header_and_search %}
<section{{ header_section_attributes }}>
  {# Header region + search #}
  <div class="container">
    <div class="columns is-vcentered is-mobile">
      <div class="column is-narrow ml-auto">
        {{ page.header_search }}
      </div>
    </div>
  </div>
</section>
{% endblock header_and_search %}
