{% extends "@stable9/block/block--system-menu-block.html.twig" %}
{% set classes = classes ?? [] %}
{% set classes = classes|merge(['menu', 'column']) %}
{% set attributes = attributes.addClass(classes) %}
{% set title_attributes = title_attributes.addClass('menu-label') %}

  {% block content %}
    <div class="container">
        {{ content }}
    </div>
  {% endblock %}