{#
/**
 * @file
 * Theme override of a container used to wrap child elements.
 *
 * Used for grouped form items. Can also be used as a theme wrapper for any
 * renderable element, to surround it with a <div> and HTML attributes.
 * See \Drupal\Core\Render\Element\RenderElement for more
 * information on the #theme_wrappers render array property, and
 * \Drupal\Core\Render\Element\container for usage of the container render
 * element.
 *
 * Available variables:
 * - attributes: HTML attributes for the containing element.
 * - children: The rendered child elements of the container.
 * - has_parent: A flag to indicate that the container has one or more parent
     containers.
 *
 * @see template_preprocess_container()
 */
#}
{%
  set classes = [
    has_parent ? 'js-form-wrapper',
    has_parent ? 'form-wrapper',
  ]
%}
<div{{ attributes.addClass(classes) }}>
    <div class="is-flex issues-filter-container">
        <section class="ifc-left-column" style="flex: 2 1 0;">
            <label for="issue-filter">Filter by Issue:</label>
            <input type="text" id="issue-filter" name="issue-filter" oninput='searchIssue()'>
            {{ children }}      
        </section>
        <section class="ifc-right-column" style="flex: 1 1 0;">
            <h2>Selected Issues</h2>
            <ul id="selected-issues-list">
            </ul>
        </section>
    </div>
</div>

{% if has_parent %}
  {% set attributes = attributes.addClass("field") %}
{% endif %}
