{% extends "@bulma/field/field.html.twig" %}

{% set classes = [
    'organization__image', 
    'is-flex', 
    'is-justify-content-center',
    'is-align-items-center'
    ] %}
{% set attributes = attributes.addClass(classes) %}