{% extends "@octavia/tags/tags.html.twig" %}
{%
  set classes = [
    'is-info',
    'is-medium',
  ]
%}
{% set item_classes = item_classes ?? [] %}
{% set item_classes = item_classes|merge(classes) %}


{%
  set t_classes = [
    'mb-4'
  ]
%}
{% set title_classes = title_classes ?? [] %}
{% set title_classes = title_classes|merge(t_classes) %}
