{#
/**
 * @file
 * Default theme implementation for flag links.
 *
 * Available functions:
 * - flagcount(flag, flaggable) gets the number of flaggings for the given flag and flaggable.
 *
 * Available variables:
 * - attributes: HTML attributes for the link element.
 * - title: The flag link title.
 * - action: 'flag' or 'unflag'
 * - flag: The flag object.
 * - flaggable: The flaggable entity.
 */
#}
{% apply spaceless %}
{# Attach the flag CSS library.#}
{{ attach_library('flag/flag.link') }}

{# Depending on the flag action, set the appropriate action class. #}
{% if action == 'unflag' %}
    {% set action_class = 'action-unflag' %}
{% else %}
    {% set action_class = 'action-flag' %}
{% endif %}

{# Set the remaining Flag CSS classes. #}
{%
  set classes = [
    'flag',
    'flag-' ~ flag.id()|clean_class,
    'js-flag-' ~ flag.id()|clean_class ~ '-' ~ flaggable.id(),
    action_class
  ]
%}

{# Set nofollow to prevent search bots from crawling anonymous flag links #}
{% set attributes = attributes.setAttribute('rel', 'nofollow') %}

<div class="{{classes|join(' ')}}"><a{{ attributes }}>
<svg width="30" height="42.124" xmlns="http://www.w3.org/2000/svg"><path class="outline" d="M3.22 0A3.213 3.213 0 0 0 0 3.22V40.4c0 .747.46 1.378 1.15 1.61.688.228 1.436.058 1.896-.517L15 26.951l11.954 14.54c.345.402.803.633 1.322.633.173 0 .402-.059.575-.115C29.54 41.78 30 41.09 30 40.4V3.276a3.213 3.213 0 0 0-3.22-3.22H3.22zm23.388 35.63L16.322 23.16c-.345-.402-.803-.633-1.322-.633-.516 0-.976.229-1.322.633L3.392 35.63V3.448h23.16V35.63z" style="stroke-width:1;stroke:#000;fill-opacity:1"/><path class="belly" style="stroke:none; fill: none;" d="M3.392 3.448V35.63l11.526-12.333L26.552 35.63V3.448z"/></svg>
<div class="bookmark-title">{{ title }}</div></a></div>
{% endapply %}
