{#
/**
 * @file
 * Theme override for a 'form' element.
 *
 * Available variables
 * - attributes: A list of HTML attributes for the wrapper element.
 * - children: The child elements of the form.
 *
 * @see template_preprocess_form()
 */
#}
<div class="is-flex is-justify-content-space-between is-flex-wrap mb-6 is-align-content-center organization-search-title">
    <div class="title is-1 is-size-2-tablet-only is-size-3-mobile mb-0 mt-auto">Organizations</div>
    <form{{ attributes }}>
        {{ children }}
    </form>
</div>