{#
/**
 * @file
 * Theme override for an icon.
 *
 * Available variables:
 * - bundle: The icon's bundle.
 * - icon: The icon's name.
 * - uri: Path to the icon file.
 * - method: How the svg should be embedded. Either 'svg-files' or 'svg-map'.
 * - alt: "Alt" text for accessibility, leave blank if icon is decorative or provide informative description of icon's purpose
 * - attributes: A list of HTML attributes for the icon.
 *
 */
#}
{% set attributes = attributes.setAttribute('role', 'img') %}
{% if alt %}
  {% set attributes = attributes.setAttribute('aria-label', alt) %}
{% else %}
  {% set attributes = attributes.setAttribute('aria-hidden', 'true') %}
{% endif %}

{% if method == 'svg-files' %}
  <span{{ attributes.removeClass("icon") }}>
    {% include uri %}
  </span>
{% elseif method == 'svg-map' %}
  <svg{{ attributes }}>
    <use xlink:href="{{ uri }}"></use>
  </svg>
{% endif %}
