{#
/**
 * @file
 * Default theme implementation for a theme's inline_entity_form_entity_table form.
 *
 * Available variables:
 * - form: Form elements for the inline_entity_form_entity_table form.
 * - table: The table of referenced entities.
 *
 * @see template_preprocess_inline_entity_form_entity_table()
 *
 * @ingroup themeable
 */
#}
{# {{ dump(table["#header"][0])}}
{{ dump(table["#header"][0]["data"])}}
{% set table["#header"][0]["data"] = "organizations" %} #}
{{ table }}
{% if theme_hook_original == "inline_entity_form_entity_table" %}
        <div class="organization-tabs is-flex is-justify-content-space-evenly has-text-grey-light">
            <div class="organization-tabs_tab"> <a href="edit-field-organization-form-">Add existing organization</a></div>
            <div class="organization-tabs_tab"><a href="edit-field-organization-actions">Create new organization</a></div>
        </div>
{% endif %}