{% extends '@octavia/layout/page.html.twig' %}

{% if not page.content_attributes %}
  {%
    set page = page|merge({
      'content_attributes': create_attribute().addClass([
        'main-content',
        'column',
        'is-12-widescreen',
      ]),
    })
  %}
{% endif %}
