{% extends '@octavia/layout/page.html.twig' %}

{% if not page.content_attributes %}
  {%
    set page = page|merge({
      'content_attributes': create_attribute().addClass([
        'main-content',
        'column',
        'is-12-widescreen',
      ]),
    })
  %}
{% endif %}
{# Modified template page.html.twig from octavia theme #}

{% block header %}
{% block tabs %}
{# Drupal tabs #}
{% if page.header_tabs %}
  {{ page.header_tabs }}
{% endif %}
{% endblock tabs %}
{% endblock header %}
