{#
/**
 * @file
 * Theme override to display a taxonomy term.
 *
 * Available variables:
 * - url: URL of the current term.
 * - name: (optional) Name of the current term.
 * - content: Items for the content of the term (fields and description).
 *   Use 'content' to print them all, or print a subset such as
 *   'content.description'. Use the following code to exclude the
 *   printing of a given child element:
 *   @code
 *   {{ content|without('description') }}
 *   @endcode
 * - attributes: HTML attributes for the wrapper.
 * - page: Flag for the full page state.
 * - term: The taxonomy term entity, including:
 *   - id: The ID of the taxonomy term.
 *   - bundle: Machine name of the current vocabulary.
 * - view_mode: View mode, e.g. 'full', 'teaser', etc.
 *
 * @see template_preprocess_taxonomy_term()
 */
#}
<div{{ attributes }}>
  {{ title_prefix }}
  {% if name and not page %}
    <h2 style="display: inline-block"><a href="{{ url }}">{{ name }}</a></h2>
  {% endif %}
  {{ title_suffix }}
  <ul class="category-list pb-4">
  {% for item in items %}
      <li>
        <details open>
        <summary>
         <a href={{ path('entity.taxonomy_term.canonical', {'taxonomy_term': item.id }) }}>
          {{ item.getname }}
        </a>
        </summary>
          <ul>
            <li>
              <details open>
              <summary><a href="{{ url }}">{{ name }}</a></summary>
                {{ content.issues_in_subcategory_entity_view_1 }}
              </details>
            </li>
          </ul>
        </details>
      </li>
  {% endfor %}
  </ul>
</div>
